{% extends 'index.html' %}

{% block page_content %}

<h2> Leagues Tracked by KPBT</h2>

<table>
    <thead>
        <tr>
            <td>League Name</td> <td> Bowling Center</td> <td> Teams</td>
        </tr>
    </thead>
	{% for league in leagues %}
	<tr>
		<td><a href="{% url 'view-center-league-by-name' league.bowling_center.name league.name %}"> {{ league.name }} </a></td>
        <td><a href="{% url 'center-home' league.bowling_center.name %}"> {{ league.bowling_center.name }}</a></td>
        
        {% for team in league.teams.all %}
        <td><a href="{% url 'view-center-league-team-by-name' league.bowling_center.name league.name team.name %}"> 
            {{ team.name }} </a></td>
        {% endfor %}
        
	</tr>
	{% endfor %}
</table>

{% endblock %}
	