{% extends 'index.html' %}

{% block page_content %}
<div class="text-white">
<h2> {{ league.name }} </h2> {% if request.user == secretary %} <p><a href="{% url 'manage-league' league.bowling_center.name league.name %}"> Manage League</a></p> {% endif %}

{% if league.schedule.current_week > 1 %}
    <h4>Last Week's Results</h4>
    <table>
        {% for score in last_week_scores %}
            {% cycle 'row' '' as row silent %}
            {% if row %} <tr> {% endif %}
        <td> {{ last_week_scores.weekly_points_won}} </td>
                {% if not row %} </tr> {% endif %}
        {% endfor %}
    </table>
{% endif %}








<h4> Standings </h4>

<table>
	<thead>
        <tr>
            <td>Team Name</td> <td> Total Points Won</td> <td> Total Points Lost</td> <td> Total Pinfall</td>
        </tr>
    
    </thead>
    <tbody>
    {% for team in teams %}
    
        <tr>
            <td>{{ team.name }}</td><td>{{team.team_points_won}}</td><td>{{team.team_points_lost}}</td><td>{{team.total_pinfall}}</td>
        </tr>
    </tbody>
    {% endfor%}
</table>
    
  
<h2>League Schedule</h2>
<p>Current Week: {{league.current_week }} </p>
<p> <a href="{% url 'view-center-league-schedule' league.bowling_center.name league.name %}"> View Schedule</a></p>
<p>This week's lane pairings: </p>
<table>
    <tr>
    <td>Lanes</td>
    {% for pair in weekly_pairings %}
    
            <td> {{ pair.get_lanes_by_pairnumber }} </td>
    
    {% endfor %}
    </tr>
    
    <tr>
    <td> Team Numbers</td>
    {% for pair in weekly_pairings %}
        
            <td> {{ pair }}</td>
    
    {% endfor %}
    </tr>
</table>

<h2> League Bowlers </h2>
<table>
    <thead>
        <tr>
            <td>First Name</td><td>Last Name</td><td>League Average</td><td>Games Bowled</td><td>High Scratch Game</td><td>High Handicap Game</td><td>High Scratch Series</td><td>High Handicap Series</td><td>Total Scratch Pins</td><td>Total Handicap Pins</td>
        </tr>
    </thead>
    <tbody>
    {% for bowler in bowlers %} 
        <tr>
            <td>{{bowler.bowler.first_name}}</td><td>{{bowler.bowler.last_name}}</td><td>{{bowler.league_average}}</td><td>{{bowler.games_bowled}}</td><td>{{bowler.league_high_scratch_game}}</td><td>{{bowler.league_high_handicap_game}}</td><td>{{bowler.league_high_scratch_series}}</td><td>{{bowler.league_high_handicap_series}}</td><td>{{bowler.league_total_scratch}}</td><td>{{bowler.league_total_handicap}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!--    
    <tr>
		<td> League </td>
		<td> {{ league.name }} </td>
	<tr>
	
	<tr>
		<td> Bowling Center </td>
		<td> {{ league.bowling_center.name }} </td>
	</tr>
	
	{% for team in teams %}
	<tr>
		<td> Team Name </td>
        <td> <a href="{% url 'view-center-league-team-by-name' league.bowling_center.name league.name team.name %}"> {{ team.name }} </a></td>
	</tr>	
	{% endfor %}
    
</table>




<div>
<h4> League Rules</h4>
{{ rules.as_p }}

<h4> League Schedule</h4>
{{ schedule.as_p }}
</div>
//-->
</div>
{% endblock %}