{% extends 'index.html' %}

{% block page_content %}

<h2> Leagues </h2>
<table>
	<tr>
		<td> League </td>
		<td> {{ league.name }} </td>
	<tr>
	
	<tr>
		<td> Bowling Center </td>
		<td> {{ league.bowling_center.name }} </td>
	</tr>
	
	{% for team in teams %}
	<tr>
		<td> Team Name </td>
		<td> <a href="{% url 'view-center-league-team-by-name' league.bowling_center.name league.name team.name %}"> {{ team.name }} </td>
	</tr>	
	{% endfor %}
    
</table>

<h2>League Schedule</h2>
<p>Current Week: {{league.current_week }} </p>
<p>This week's lane pairings: {{ weekly_pairing }} </p>

<div>
<h4> League Rules</h4>
{{ rules.as_p }}

<h4> League Schedule</h4>
{{ schedule.as_p }}
</div>
{% endblock %}