{% extends 'index.html' %}

{% block page_content %}

<div class="text-white">
	<h2>Bowling Center Info</h2>
	
	
	<table>
		<tr>
			<td> Center Name </td>
			<td> {{ center.name }} </td>
		</tr>
		<tr>
			<td> Number of lanes </td>
			<td> {{ center.num_lanes }} </td>
		</tr>
		<tr>
			<td> Manager </td>
			<td><a href=" {% url 'view-profile-by-username' center.manager.username %} "> {{ center.manager.username }} </a>
		</tr>
		{% for league in leagues %}
		<tr>
			<td><a href=" {% url 'view-center-league-by-name' center.name league.name %}"> {{ league.name }} </td></a>
		</tr>
		{% endfor %}
			
	</table>
</div>	
{% endblock %}