{% extends 'index.html' %}

{% block page_content %}
<div class="text-white">
<h2> Scores for week {{ week_number }} </h2>

<table>
    <thead>
        <tr>
            <td> Team </td> <td> Bowler </td> <td> Avg </td> <td> Hcp </td> <td> Game 1 </td> <td> Game 2 </td> <td> Game 3 </td>
        </tr>
    </thead>
    {% regroup scores by team as scores_list %}
    
    {% for team, scores in scores_list %}
        <tr>
            <td> {{ team.name }} </td>
        </tr>
        {% for score in scores %}
        <tr> <td> </td>
           <td> {{ score.bowler.get_name }} </td> <td> {{ score.applied_average }} </td> <td> {{ score.applied_handicap }} </td>
            <td> {{ score.game_one_score }} </td> <td> {{ score.game_two_score }} </td> <td> {{ score.game_three_score }} </td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>
</div>
{% endblock %}