{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - League Creation</title>{% endblock %}

{% block page_content %}
 <div class="container-fluid">  
 <div class="row"> 
 <div class="col-md-12">
	<h2 class="form-head">League Creation</h2>    

     
   
    <form method="post" class ="text-label">
	{% csrf_token %}
    
    
    
    Fill in the blanks of the following form to create a new league.
	
    
        The {{ league_form.league_name }} League will bowl on {{ schedule_form.day_of_week }} at {{ schedule_form.start_time }}. 
        <p> The league will have a scheduled starting date of {{ schedule_form.date_starting }} and a scheduled ending date of {{ schedule_form.date_ending }}.</p>
        <p> The league will be limited to {{ league_form.designation }} bowlers only.</p>
        <p> The league will consist of {{ league_form.gender }}.</p>
        <p> The league will consist of {{ league_form.num_teams }} with a playing strength of {{ league_form.playing_strength }}. Rosters will be limited to {{ league_form.max_roster_size }} members per team.</p>
        <p> Check if this league will have wins and losses determined on a handicap basis {{ league_form.is_handicap }}. If so, the handicap shall be {{ league_form.handicap_percentage}}% of the difference between a bowler's average and a scratch figure of {{ league_form.handicap_scratch }}.</p>
        <p>If a team has a legal lineup, but less than a full one, at the start of any game of the series, an absentee score will be used in place for the missing members. The absentee score will be the absent member's average minus {{ league_form.absentee_score }}.</p>
        <p>Collectively each member of a team bowling against a bye team must average within {{ league_form.bye_team_point_threshold }} points of their average to win.</p>
        <p> Team position standings shall be determined on a point basis, with {{ league_form.game_point_value }} point(s) awarded for each game won and {{ league_form.series_point_value }} point(s) awarded for the high team series in each match.</p>
        
    
   
    
    
	<button type="submit" class="btn btn-univ">Create</button>
</form>
     </div>
     </div> 
     </div> 
    
{% endblock %}