{% extends 'index.html' %}

{% block page_content %}
<div class="text-white">
<h1> {{ league.name }} Management</h1>

<ol>
    <li><a href="{% url 'league-view-weekly-tasks' league.bowling_center.name league.name %}">Weekly League Tasks</a></li>
    <li><a href="{% url 'update-league' league.bowling_center.name league.name %}"> Update League</a></li>
    <li><a href="{% url 'update-league-secretary' league.bowling_center.name league.name %}"> Manage League Secretary</a> </li>
    <li><a href="{% url 'move-league' league.bowling_center.name league.name %}"> Move League to new Bowling Center</a></li>
    <li><a href="{% url 'set-week' league.bowling_center.name league.name %}">View/Edit Previous Weeks</a></li>
</ol>

<h4> Manage Teams</h4>
    {% for team in teams %}
    <p><a href="{% url 'manage-team' league.bowling_center.name league.name team.name %}"> {{ team.name }}</a></p>
    {% endfor %}
{% endblock %}
</div>