{% extends 'index.html' %}

{% block page_content %}
<div class="text-white">
<h2> Update Roster Members of team {{ team.name }} in the league {{ team.league.name }}. </h2>
<h4> Updating Existing Members</h4>
<form method="post">
	{% csrf_token %}
    {{ rosterset.management_form }}
    <table> 
        <thead>
            <tr>
                <td>First Name</td><td>Last Name</td> <td> Hand</td> <td>Designation</td> <td>Gender</td><td>Avg</td>
            </tr>
         </thead>
        <tr>
        {% for roster in rosterset %}
            {{ roster.id }}
            <td>{{ roster.first_name }} </td> <td> {{ roster.last_name }} </td> <td> {{ roster.hand }} </td> <td> {{ roster.designation }}</td> <td> {{ roster.gender }} </td><td> {{ roster.average }}</td> <td> Link Bowler</td>
        </tr>
        {% endfor %}
    </table>
<input type="hidden" name="update" value="true">
<button type="submit">Update Roster</button>
</form>
    
<h4>Remove Current Member</h4>
<form method="post">
    {% csrf_token %}
    {{ eremov_form.as_p }}
    
    <input type="hidden" name="remov_existing" value="true">
    <button type="submit">Remove from Roster</button>
</form>

    
<h4> Add Existing League Bowlers</h4>
<form method="post">
    {% csrf_token %}
    {{ eadd_form.as_p }}
    
    <input type="hidden" name="add_existing" value="true">
    <button type="submit">Add Existing Bowler</button>
</form>
    
    
<h4>Create New Roster Members </h4>
<form method="post">
    {% csrf_token %}
    {{ new_formset.management_form }}
    <table> 
        <thead>
            <tr>
                <td>First Name</td><td>Last Name</td> <td> Hand</td> <td>Designation</td> <td>Gender</td> <td> Avg </td>
            </tr>
         </thead>
        <tr>
        {% for roster in new_formset %}
            {{ roster.id }}
            <td>{{ roster.first_name }} </td> <td> {{ roster.last_name }} </td> <td> {{ roster.hand }} </td> <td> {{ roster.designation }}</td> <td> {{ roster.gender }} </td> <td> {{ roster.average }} </td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="new" value="true">
	<button type="submit">Add To Roster</button>
</form>
</div>
{% endblock %}