{% extends 'index.html' %}

{% block page_content %}

<h2> Teams in KPBT</h2>


<table>
    <thead>
        <tr>
            <td>Team Name</td> <td> League Name</td> <td> Bowling Center</td>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <td><a href="{% url 'view-center-league-team-by-name' team.league.bowling_center.name team.league.name team.name %}"> {{ team.name }} </a></td>
        <td><a href="{% url 'view-center-league-by-name' team.league.bowling_center.name team.league.name %}"> {{ team.league.name }}</a></td>
        <td><a href="{% url 'center-home' team.league.bowling_center.name %}"> {{ team.league.bowling_center.name }} </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}