{% extends 'index.html' %}

{% block page_content %}

<h2> Update Roster Members of team {{ team.name }} in the league {{ team.league.name }}. </h2>
<form method="post">
	{% csrf_token %}
    {{ rosterset.management_form }}
    <table> 
        <thead>
            <tr>
                <td>First Name</td><td>Last Name</td> <td> Hand</td> <td>Designation</td> <td>Gender</td>
            </tr>
         </thead>
        <tr>
        {% for roster in rosterset %}
            {{ roster.id}}
            <td>{{ roster.first_name }} </td> <td> {{ roster.last_name }} </td> <td> {{ roster.hand }} </td> <td> {{ roster.designation }}</td> <td> {{ roster.gender }} </td>
        </tr>
        {% endfor %}
    </table>
	<button type="submit">Update Roster</button>
</form>
{% endblock %}