{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - View Teams</title>{% endblock %}

{% block page_content %}
<div class="text-white">
<h2> Viewing {{ team.name }} in the {{ team.league.name }} league</h2>

<h4> Team Stats</h4>
<table>
	<tr>
		<td> Team Points </td> <td> Total Scratch Pins </td> <td> Total Handicap Pins</td> <td> Total Pinfall</td>
    </tr>
    <tr>
    <td> {{ team.team_points }} </td> <td> {{ team.total_scratch_pins }} </td><td> {{ team.total_handicap_pins }} </td>
	   <td> {{ team.total_pinfall }} </td>
	</tr>
</table>

<h4> Bowler Roster</h4>
<table>
	{% for bowler in bowlers %}
    
    {% if bowler.user.username %}
	   <tr>	
            <td><a href="{% url 'view-profile-by-username' bowler.user.username %}">{{ bowler.first_name }} {{ bowler.last_name }} </a></td>
		
	   </tr>
    {% else %}
        <tr>
            <td> {{bowler.first_name }}</td>
    </tr>
    {% endif %}
	{% endfor %}
    </table>
    
    
    <div>
    <h2> Team Management</h2>
    <p><a href="{% url 'update-roster' team.league.bowling_center.name team.league.name team.name %}"> Update Roster</a></p>
    <p><a href="{% url 'update-team' team.league.bowling_center.name team.league.name team.name %}"> Update Team</a></p>
    </div>   
 

</div>
{% endblock %}
	
	