{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - About Us</title>{% endblock %}

{% block page_content %}
 <div class="container-fluid">  
 <div class="row"> 
 <div class="col-md-12">
<h2>About Us</h2>    
        
<p> Thank you for using the Kingpin Bowling Tracker App.</p>

 <ul>
    Authors
    <li>Darius Grasseschi </li>
    <li> Evan Hassan </li>
    <li>Jonathan Lacoursiere </li>
    <li>Ariana Lee</li>
    <li>Maria Medina </li>
    <li> Spencer Solys </li>
    <li>Cody Trombley</li>
</ul>
     </div> 
     </div> 
     </div>    
{% endblock %}