{% extends 'index.html' %}

{% block page_content %}

<div class="text-white">

<h2> Manage leagues at {{ center.name }} </h2>

<table>
    <thead>
    <tr>
        <td>Leagues</td>
    </tr>
    </thead>
    <tbody>
    {% for league in leagues %}
    <tr>
    <td> {{ league.name }}</td><td><a href="{% url 'manage-league' center.name league.name %}"> Manage</a></td><td><a href="{% url 'delete-center-league' center.name league.name %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}