{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - User Stats</title>{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        
        <header>
        <h2 class="form-head"> User League Stats</h2>
        </header>
        
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="stats-table">
        <thead class="table-danger">
            <tr class="text-center font-weight-bolder"> 
                <th>League</th> <th> Average</th> <th> Hi Scratch G</th> <th> Hi HDCP G</th> <th> Hi Scratch S</th> <th> Hi HDCP S</th> <th> Scratch Pins</th> <th> HDCP Pins</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
            
        </table>
        </div>
        </div>
    </div>
</div>
            
{% endblock %}