{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - View Profile</title>{% endblock %}

{%block page_content %}
 <div class="container-fluid">  
 <div class="row"> 
 <div class="col-md-12">
	<h2 class="form-head">Your Profile - {{ user.get_username }}:</h2>
     <div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead class="table-danger">
			
			{% for field in bp_form %}
				<th class="text-center font-weight-bolder"> {{ field.label }} </th>
			{% endfor %}
		</thead>
		<tbody>
			<tr class="text-justify table-info font-weight-bolder">
				
				{% for field in bp_form %}
					<td> {{field.value|default_if_none:'' }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
     </div>     
     </div> 
     </div> 
     </div>  
{% endblock %}