{% extends 'index.html' %}

{% block page_content %}

<div class="text-white">
    
<h2> Edit Weekly Scores</h2>
<h4> Week: {{ league.week_pointer }}</h4>
<form method="post">
    {{ formset.management_form }}
    
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <td>Team </td><td>Bowler </td> <td> Appl Avg</td> <td> Appl Hdcp</td> <td> Game1</td> <td>Gam2</td><td>Game3</td>
            </tr>
         </thead>
        
        <tbody>
            
        
            {% for form in formset %}
                {{ form.id }}
                {{ form.team_id }}
                {{ form.bowler_id }}
                <tr> 
                    <td> {{ form.team_name.value }}</td><td> {{ form.bowler_name.value }}<td> {{form.applied_average }}</td> <td> {{ form.applied_handicap }} </td><td> {{ form.game_one_score }} </td> <td> {{ form.game_two_score }} </td> <td> {{ form.game_three_score }} </td>
                </tr>
            {% endfor %}
          
        </tbody>
        
    </table>
    <button type="submit"> Edit Scores</button>
</form>
</div>

{% endblock %}