{% extends 'index.html' %}

{% block page_content %}
<div class="text-white">
    
    
<h2>View Rosters for Export</h2>
<table>
    <thead>
        <tr>
            <td>Team </td><td>Lineup</td><td> Bowler Name</td> <td>Average</td><td>Hcp</td>
        </tr>
    </thead>
    
    {% for team, bowlers in rosters.items %}
        <tr> 
            <td> {{ team }} </td>
        </tr>
        
       {% for bowler, values in bowlers.items %}
    <tr> <td></td><td> {{ bowler }} </td><td> {{ values.first_name }} {{ values.last_name }} </td> <td>{{ values.league_average }}</td> <td> {{ values.applied_handicap }}</td>
        {% endfor %}
    {% endfor %}
</table>
</div>

<form method="post">
{% csrf_token %}

<button method="submit">Export</button></form>
{% endblock %}