/* styles.css file */

body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    background: url("../images/bowling-bg.jpg") 25% 25% no-repeat;
}

body, html{
   height: 100%;
}

#bg-bowl {
    background: url("../images/bowling_wallpaper.jpg") 20% 30% no-repeat;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #BF1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.container-fluid, .container {
    padding: 10px 15px;
}

.logo {
   width:600px; 
   margin-left: auto; 
   margin-right: auto; 
}

.nav-link {
    font-weight: bolder;
    font-size: 1.15rem; /* 18px */
}

.nav-marg {
    margin-bottom: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-bg, .foot-bg {
    background-color: #4078a5; /* shade of steelblue */
}

.navbar-light .navbar-nav .nav-link {
    color: #000000; /* black */
    font-weight: bolder;
}

.dropdown-item {
    background-color: #DCDCDC; /* moccasin */
}

.dropdown-item:hover {
    background-color: #ff4d4d; /* shade of red */
}

.fa-sign-in-alt {
  color: #FFA500; /* shade of yellow */
}

.fa-bowling-ball {
    color: #000000; /* black */
}

*:focus {
    outline-color: #191970; /* midnightblue */
}

main {
height: auto;
min-height: 100%;
}

/* Source: https://codepen.io/ibrahimjabbari/pen/ozinB */
.style15 {
	border-top: 4px double #000;
	text-align: center;
}

.style15:after {
	content: '🎳';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 25px;
}

.mainhead {
    font-family: 'Abril Fatface', cursive;
}

.margin-botm {
    margin-bottom: 25px;
}

.hr-style {
    border-top: 4px double #101010;
}

.underline {
    text-decoration: underline;
}

.link-login {
    color: #000000;
}

.link-login:hover {
    color: ghostwhite;
}

.text-bluegrey {
    color: #607d8b !important;
}

label {
    font-weight: bolder;
}

.buttonDrop {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #e6e600;
}

/* Source: https://css-tricks.com/snippets/css/css-box-shadow/ */
.one-edge-box-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.breadcrumb {
    background: none;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: underline;
}

#footer {
   position: absolute;
/*   bottom: 0;*/
/*   left: 0px;    */
   width: 100%;
   height: auto;
   clear: both;
}