/* styles.css file */


html, body {
   height: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    background: url("../images/strike_bg-2.jpg") 25% 25% no-repeat;
    background-size: cover;
}

#bg-bowl {
    background: url("../images/bowling_balls-bg.jpg") no-repeat;
    background-size: cover;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #BF1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.container-fluid, .container {
    padding: 10px 15px;
}

.logo {
   width:600px; 
   margin-left: auto; 
   margin-right: auto; 
}

.nav-link {
    font-weight: bolder;
    font-size: 1.15rem; /* 18px */
}

.nav-marg {
    margin-bottom: 20px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-bg, .foot-bg {
    background-color: lightsteelblue; /* shade of steelblue */
}

.navbar-light .navbar-nav .nav-link {
    color: #000000; /* black */
    font-weight: bolder;
}

.dropdown-item {
    background-color: #DCDCDC; /* moccasin */
}

.dropdown-item:hover {
    background-color: #ff4d4d; /* shade of red */
}

.fa-sign-in-alt {
  color: gold; /* shade of yellow */
}

.fa-bowling-ball {
    color: #000000; /* black */
}

*:focus {
    outline-color: #191970; /* midnightblue */
}

main {
height: auto;
min-height: 100%;
}

/* Source: https://codepen.io/ibrahimjabbari/pen/ozinB */
.style15 {
	border-top: 4px double #000;
	text-align: center;
}

.style15:after {
	content: '🎳';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 25px;
}

.mainhead {
    font-family: 'Abril Fatface', cursive;
}

.margin-botm {
    margin-bottom: 25px;
}

.hr-style {
    border-top: 4px double #101010;
}

.underline {
    text-decoration: underline;
}

.card {
  max-width: 380px;
  min-height: 500px;
  margin: 290px auto;
}

.bg-trans {
    background-color: rgba(10,10,10,.68);
}

.login-icon {
  margin: 50px 65px;
}

.username {
    background-image: url('../images/icons/user-solid.svg');
    background-position: 5px 1px; 
    background-repeat: no-repeat;
    padding-left: 45px;
}

.password {
    background-image: url('../images/icons/key-solid.svg');
    background-position: 5px 1px; 
    background-repeat: no-repeat;
    padding-left: 45px;
}

/* Leave commented out! */

/*
.row {
  display: none;
}
*/

/*
input[id="id_username"], input[id="id_password"] {
  background-color: darkturquoise;   
}
*/

.username-row {
  position: relative;
  height: 40px;
  border-bottom: darkturquoise 1px solid;
  margin-bottom: 10px;  
}

.password-row {
  position: relative;
  height: 40px;
  border-bottom: darkturquoise 1px solid;  
}

input:focus, .btn-login:focus, button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(0,0,0,.8);
}

input::-moz-placeholder {
  color: rgba(0,0,0,.8);  
}

.btn-login {
  display: block;
  width: 340px;
  height: 40px;
  padding: 0;
  margin: 10px 20px 10px;
  font-weight: 700;
  color: #fff;
  background-color: #22c08a;
  border: none;
  border-radius: 20px;
  transition: .10s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.btn-login:hover {
  background-color: #26d69a;
}

.btn-login:active {
  background-color: #1eaa7a;
}

label,
p a:hover {
  -webkit-cursor: pointer;
  cursor: pointer;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.link-login {
    color: khaki;
}

.link-login:hover {
    color: ghostwhite;
}

.text-bluegrey {
    color: #607d8b !important;
}

label {
    font-weight: bolder;
    font-size: 1.125rem;
}

.buttonDrop {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #e6e600;
}

/* Source: https://css-tricks.com/snippets/css/css-box-shadow/ */
.one-edge-box-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.breadcrumb {
    background: none;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: underline;
}

#footer {
   position: absolute;
/*   bottom: 0;*/
/*   left: 0px;    */
   width: 100%;
   height: auto;
   clear: both;
}